*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Jost;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class *= "__container"] {
    min-width: 1540px;
    margin: 0px auto;
    padding: 0px 380px;
}

.header__container {
    display: flex;
    padding: 0px 100px;
    min-height: 118px;
    align-items: center;
    background-color: #141024;
}

.header__logo {
    position: relative;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__phonenumber {
    position: relative;
    z-index: 5;
    flex: 0 0 255px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}

.button {
    display: inline-block;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 25px 54px;
    border-radius: 5px;
    background-color: #D52027;
}

.phonenumber {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

/*---------------------------------------------*/

.description__container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 273px 0px 380px;
    background-color: #141024;
}

.description__content {
    flex: 0 1 48%;
}

.description__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.description__image img {
    max-width: 100%;
}

.description__block-text {
    max-width: 516px;
}

.block-text__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: #fff;
}

.block-text__text {
    line-height: 160%;
    max-width: 478px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.block-text__button {
    margin-top: 50px;
}
