*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Jost;
    font-size: 12px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class *= "__container"] {
    max-width: 1540px;
    margin: 0px auto;
    padding: 0px 180px;
}

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

.header {
    background-color: #141024;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    padding: 0px 100px;
    min-height: 118px;
    align-items: center;
}

.header__logo {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    z-index: 5;
}

.header__menu {
    flex: 1 1 auto;
}

.header__phonenumber {
    position: relative;
    z-index: 5;
    flex: 0 0 255px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}

@media (max-width: 991.98px) {
    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 991.98px) {
    .header__container {
        min-height: 80px;
    }

    .header__phonenumber {
        flex: 0 0 172px;
        font-size: auto;
    }

    .menu__item {
        margin: 0px 30px 0px 0px;
    }
}

@media (max-width: 991.98px) {
    .header__container {
        padding: 0px 100px;
        margin: 0px 100px;
    }
    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    
    .header:target .menu__body {
        left: 0;
    }

    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #fff;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__item {
        margin: 0px 0px 25px 0px;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        color: #000;
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .header__container {
        padding: 0px 20px;
    }
}

.button {
    display: inline-block;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    padding: 25px 54px;
    border-radius: 5px;
    background-color: #D52027;
    transition: background-color 0.3 ease 0s; 
}

.button:hover {
    background-color: #cf4549;
}

@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}

.phonenumber {
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

@media (max-width: 991.98px) {
    .header__phonenumber {
        flex: 0 0 170px;
    }
    .phonenumber {
        font-size: 14px;
    }
}

.close-icon-menu,
.icon-menu {
    display: none;
}

@media (max-width: 991.98px) { 
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;
    }
    
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background: #ffffff;
        height: 2px;
    }
    
    .close-icon-menu {
        flex: 0 0 30px;
        height: 30px;
        position: relative;
        margin: 0px 0px 0px 20px;
    }

    .icon-menu span {
        height: 2px;
        background: #ffffff;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        background-color: #000;
        height: 2px;
    }

    .close-icon-menu::before {
        transform: rotate(45deg);
    }

    .close-icon-menu::after {
        transform: rotate(-45deg);
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .close-icon-menu {
        display: flex;
    }
}

/*---------------------------------------------*/

.description {
    background-color: #141024;
}

.description__container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 162px 90px 0px 90px;
}

.description__content {
    flex: 0 1 48%;
}

.description__image {
    flex: 0 1 52%;
    position: relative;
    z-index: 2;
}

.description__image img {
    max-width: 100%;
}

.description__block-text {
    max-width: 516px;
}

.block-text__title {
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    color: #fff;
}

.block-text__text {
    line-height: 160%;
    max-width: 478px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.block-text__button {
    margin-top: 50px;
}

/*---------------------------------------------*/

.statistics__container {
    padding-bottom: 120px;
}

.statistics__content {}

.statistics__block-text {}

.statistics-block-text__text {
    max-width: 655px;
    margin-top: 120px;
    color: #000;
    font-weight: 400;
}

.statistics-block-text__text span {
    font-weight: 800;
}

.statistics__body {
    display: flex;
    margin-top: 60px;
}

.statistics__item {
    flex: 1 1 25%;
    margin-right: 40px;
}

.statistics__title {
    color: #D52027;
    font-weight: 600;
    font-size: 70px;
}

.statistics__text {
    font-size: 18px;
    max-width: 260px;
    margin-top: 15px;
}

/*---------------------------------------------*/
.after-the-course {
    background-color: #F9F9F9;
}

.after-the-course__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.after-the-course__title {}

.after-the-course__title h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    color: #141024;
}

.after-the-course__body {
    display: flex;
    margin: 60px 0px 0px 0px;
}

.after-the-course__item {
    flex: 1 1 33.3333%;
    margin: 0px 40px 0px 0px;
}

.after-the-course__value {
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
    color: #141024;
}

.after-the-course__text {
    margin: 20px 0px 0px 0px;
    color: rgba(20, 16, 36, 0.7);
    font-size: 18px;
}

/*---------------------------------------------*/

.professionals {}

.professionals__container {
    padding-top: 120px;
    padding-bottom: 138px;
}

.professionals__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    color: #141024;
}

.professionals__body {
    display: flex;
    margin-top: 60px;
}

.professionals__item {
    flex: 1 1 25%;
    margin: 0px 40px 0px 0px;
}

.professionals__image {}

.professionals__description {}

.professionals__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    margin-top: 20px;
    color: #141024;
}

.professionals__course {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(20, 16, 36, 0.7);
}

.professionals__button {
    margin: 20px 0px 0px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #D52027;
}

.professionals__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.professionals__bar {
    display: inline-block;
    width: 360px;
    background-color: #000;
    height: 5px;
    border: 1px solid #000;
    border-radius: 40px;
}

.professionals-controls__body {
    display: flex;
}

.professionals-controls__next {
    margin: 0px 10px 0px 0px;
}

.professionals-controls__next img {
    transform: rotate(180deg);
}

.professionals-controls__prev {}


/*---------------------------------------------*/

.packages {}

.packages__container {
    padding-bottom: 120px;
}

.packages__body {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.packages__item {
    flex: 1 1 33.3333%;
    padding: 30px 30px;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;
    margin: 0px 40px 0px 0px;
}

.packages__item_black {
    background: #141024;
    border-radius: 20px;
}

.packages__heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    color: #141024;
}

.packages__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    color: #141024;
}

.packages__item_black div{
    color: #fff
}

.packages__price {
    margin-top: 63px;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    text-align: center;
    color: #141024;
}

.packages__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #141024;
}

.packages__button {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #fff;
    background-color: #D52027;
    padding: 25px 78px;
    border-radius: 5px;
}

/*---------------------------------------------*/
.course-sign-up {
    background-color: #D52027;
}

.course-sign-up__container {
    display: flex;
    align-items: center;
    padding-top: 87px;
    padding-bottom: 87px;
}

.course-sign-up__content {
    flex: 0 1 48%;
    max-width: 476px;
}

.course-sign-up__content h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.course-sign-up__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
}

.course-sign-up__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 52%;
}

.course-sign-up__form input {
    padding: 19px 181px 19px 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background-color: #F6F6F6;
    border-radius: 5px;
    color: rgba(40, 41, 68, 0.7);
}

.user-phonenumber {
    margin-top: 10px;
}

.email {
    margin-top: 10px;
}

.button-submit {
    padding: 19px 183px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    background-color: #141024;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

/*---------------------------------------------*/

.footer {
    background-color: #141024;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer__logo {}

.footer__copyright {
    flex: 0 1 50%;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);
}

.footer__phonenumber {
    flex: 0 1 50%;
    text-align: right;
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
}